body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 20px;
}

.card {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-align: center;
}

.logo {
    width: 120px;
    display: block;
    margin: 0 auto 15px auto;
    border: none;
}

h2 {
    color: #003366;
    margin-bottom: 20px;
}

h3 {
    color: #003366;
    margin-top: 15px;
    margin-bottom: 20px;
}

img {
    width: 180px;
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 10px;
    border: 3px solid #003366;
}

p {
    margin-bottom: 15px;
    line-height: 1.4;
}

.active {
    background: #28a745;
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
}
